@use "../abstracts" as *;

body {
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: $body-background;
  padding: 60px;
  max-width: 1380px;
  @media only screen and (max-width: 420px) {
    padding: 38px;
  }
}
