@use "../../assets/styles/abstracts" as *;

.modal {
  display: none;
  &.showed {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(1 7 66 / 70%);
  }
  & > .container {
    background: $card-background;
    box-sizing: border-box;
    max-width: 862px;
    padding: 20px 26px;
    border-radius: 14px;
    box-shadow: 0 2px 4px 0px rgb(0 12 131 / 20%);
    margin: 0 40px;
    & > h2 {
      margin: 0;
      font-size: 48px;
      color: $text_primary;
      line-height: 35px;
      margin-bottom: 20px;
    }
    & > p {
      margin: 0;
      color: $text_primary;
      font-size: 22px;
      margin-bottom: 40px;
    }
    & button {
      box-sizing: border-box;
      max-width: 240px;
      width: 100%;
      outline: none;
      border: none;
      background: $text-primary;
      padding: 16px 20px;
      border-radius: 14px;
      color: #ffffff;
      font-size: 20px;
      font-weight: 600;
      transition: all 300ms ease;
      cursor: pointer;
      &:hover {
        background: darken($text-primary, 10%);
      }
      &.secondary {
        background: #ff5d60;
        &:hover {
          background: darken(#ff5d60, 10%);
        }
      }
    }
  }
}

.buttons-group {
  display: flex;
  margin-bottom: 20px;
  & > *:not(:last-child) {
    margin-right: 20px;
  }
}
