@use "../../assets/styles/abstracts" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.card {
  box-sizing: border-box;
  background: $card_background;
  padding: 22px 28px;
  max-width: 310px;
  height: 160px;
  width: inherit;
  margin-bottom: 30px;
  border-radius: 14px;
  box-shadow: 0 2px 4px 0px rgb(164 183 209 / 20%);
  transition: all 300ms ease;
  cursor: pointer;
  @include mobile() {
    max-width: none;
    width: 100%;
  }
  & > h2 {
    margin: 0;
    font-size: 48px;
    color: $text_primary;
    line-height: 35px;
    margin-bottom: 20px;
  }
  & > p {
    margin: 0;
    color: $text_primary;
  }
  &:hover {
    background: $card_hover_background;
    & > h2,
    & > p {
      color: #ffffff;
    }
  }
}
