@use "../../assets/styles/abstracts" as *;
@use "../../assets/styles/abstracts/mixins" as *;

.form {
  box-sizing: border-box;
  max-width: 360px;
  background: $card_background;
  padding: 22px 28px;
  border-radius: 14px;
  box-shadow: 0 2px 4px 0px rgb(164 183 209 / 20%);
  margin-left: 30px;
  height: fit-content;
  @include mobile() {
    max-width: none;
    width: 100%;
    margin-left: 0;
  }
  & > h2 {
    color: $text-primary;
    margin: 0;
    line-height: 16px;
    margin-bottom: 30px;
  }
  & > input {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    background: $input-background;
    margin-bottom: 20px;
    padding: 16px 20px;
    border-radius: 14px;
    color: $text-primary;
    font-size: 18px;
    font-weight: 600;
    &::placeholder {
      color: $text-primary;
      font-size: 18px;
      font-weight: 600;
    }
  }
  & > textarea {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    background: $input-background;
    padding: 16px 20px;
    margin-bottom: 20px;
    border-radius: 14px;
    color: $text-primary;
    font-size: 18px;
    font-weight: 600;
    &::placeholder {
      color: $text-primary;
      font-size: 18px;
      font-weight: 600;
      line-height: 10px;
    }
  }
  & > button {
    box-sizing: border-box;
    width: 100%;
    outline: none;
    border: none;
    background: $text-primary;
    padding: 16px 20px;
    border-radius: 14px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    transition: all 300ms ease;
    cursor: pointer;
    &:hover {
      background: darken($text-primary, 10%);
    }
  }
  & > input.error,
  & > textarea.error {
    background: #ffe6e6;
    &::placeholder {
      color: #cb3939;
    }
  }
}
