@use "../../assets/styles/abstracts/mixins" as *;

.list {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  @include large-desktop() {
    & > :nth-child(3n + 2) {
      margin: {
        right: 30px;
        left: 30px;
      }
    }
  }
  @include desktop() {
    & > :nth-child(2n + 1) {
      margin: {
        right: 30px;
      }
    }
  }
  @include mini-desktop() {
    & > :nth-child(n + 1) {
      margin: {
        right: 30px;
      }
    }
  }
  @media only screen and (max-width: 860px) {
    & > :nth-child(n + 1) {
      margin: {
        right: 0;
      }
    }
  }
}
