@mixin large-desktop() {
  @media only screen and (min-width: 1500px) {
    @content;
  }
}

@mixin desktop() {
  @media only screen and (min-width: 1160px) and (max-width: 1499px) {
    @content;
  }
}

@mixin mini-desktop() {
  @media only screen and (min-width: 200px) and (max-width: 1159px) {
    @content;
  }
}

@mixin mobile() {
  @media only screen and (max-width: 806px) {
    @content;
  }
}
